Adafruit-Blinka==8.32.0
adafruit-circuitpython-bmp280==3.3.2
adafruit-circuitpython-busdevice==5.2.6
adafruit-circuitpython-dht==4.0.4
adafruit-circuitpython-register==1.9.18
adafruit-circuitpython-requests==2.0.5
adafruit-circuitpython-typing==1.10.2
Adafruit-DHT==1.4.0
Adafruit-PlatformDetect==3.60.0
Adafruit-PureIO==1.1.11
bmp280==0.0.4
certifi==2024.2.2
charset-normalizer==3.3.2
i2cdevice==1.0.0
idna==3.6
influxdb==5.3.1
msgpack==1.0.8
pyftdi==0.55.0
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.1
pyusb==1.2.1
requests==2.31.0
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
six==1.16.0
smbus2==0.4.3
sysv-ipc==1.1.0
typing-extensions==4.9.0
urllib3==2.2.1
